.wrapper{
  width: 800px;
  height: 500px;
  margin: 1% auto;
  position: relative;
  background-color: #eee;
}
.box{  
  position: absolute;  
  margin: 0 auto;
  left: 0;
  right: 0;
}
.box.yellow1, .box.yellow2, .box.aqua1, .box.aqua2{
  width: 200px;
  height: 50px;
}
.box.blue1, .box.blue2, .box.red1, .box.red2{
  width: 50px;
  height: 200px;
}
.yellow1{  
  background-color: #ff6600;
  top: 86px;
  left: 193px;
  z-index: 5;
}
.yellow2{  
  background-color: #ff6600;
  top: 86px;
  right: 204px;
  z-index: 1;
}
.blue1{  
  background-color: #003399;
  top: 40px;
  left: 248px;  
  z-index: 2;
}
.blue2{  
  background-color: #003399;
  top: 240px;
  left: 248px;
  z-index: 2;
}
.aqua1{  
  background-color: #66ffff;
  bottom: 90px;
  right: 211px;
  z-index: 3;
}
.aqua2{  
  background-color: #66ffff;
  bottom: 90px;
  left: 190px;
  z-index: 1;
}
.red1{  
  background-color: #ff0066;
  top: 40px;
  right: 272px;
  z-index: 4;
}
.red2{  
  background-color: #ff0066;
  top: 240px;
  right: 272px;
  z-index: 1;
}